<h2>Heres where we add a new cryptid</h2>



<form action="/cryptids" method="POST">
    <label for="cryptid-type">Type:</label>
    <input type="text" name="type" id="cryptid-type">

    <label for="cryptid-name">Name:</label>
    <input type="text" name="name" id="cryptid-name">

    <input type="submit" value="Submit">
</form>